body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: "Open Sans", sans-serif;
  color: rgba(72, 85, 91, 1);
  width: 940px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
p,
li,
ul,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  letter-spacing: 0.095em;
  line-height: 1.167em;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.128em;
}

.border::after {
  display: block;
  content: "";
  height: 2px;
  width: 50px;
  background: rgba(0, 164, 229, 1);
  margin: 0 auto;
  margin-top: 10px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
  letter-spacing: 0.027em;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: white;
  letter-spacing: 0.336em;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.bottom {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.362em;
  letter-spacing: 0.038em;
  background: rgba(0, 164, 229, 1);
  width: fit-content;
  height: fit-content;
  padding: 11px 29px;
}

.bottom:hover {
  background: rgba(0, 164, 229, 0.8);
}

/******************************************* header */
header {
  height: 100vh;
  background: url("../img/bg-header.jpg") center / 100% auto no-repeat;
  box-sizing: border-box;
  padding: 41px 0 71px 0;
}

.header__logo {
  width: 102px;
}

.header__title {
  width: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -291px;
  color: white;
  font-size: 16px;
}

.title__scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -57px;
}
/* header */

/******************************************* navbar */
.navbar {
  border-bottom: 1px solid #e6e6e6;
  padding: 24px 0 23px 0;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar__logo {
  width: 80px;
}

.navbar__link {
  color: rgba(72, 85, 91, 1);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.099em;
}

.navbar__link:hover {
  color: rgba(0, 164, 229, 1);
}

.navbar__menu {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-column-gap: 25px;
}

/* navbar */

/******************************************* about */
.about .grid {
  grid-template: 120px 1fr / 1fr 1fr;
}

.about {
  padding-bottom: 60px;
}

.about__title {
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
}

.about__founded {
  font-size: 20px;
  line-height: 1.362em;
  font-weight: 700;
  margin-bottom: 30px;
}

.about__founded span {
  color: rgba(0, 164, 229, 1);
}

.about__text {
  letter-spacing: 0.01em;
  width: 400px;
}

.about__lorem,
.services__lorem {
  line-height: 1.769em;
  font-size: 13px;
  letter-spacing: 0.01em;
}

.about__img:nth-child(1) {
  background: url("../img/img-plan.jpg") 50% 100% / auto auto no-repeat;
}

.about__img:nth-child(2) {
  background: url("../img/img-manage.jpg") 50% 100% / auto auto no-repeat;
}

.about__img:nth-child(3) {
  background: url("../img/img-build.jpg") 50% 100% / auto auto no-repeat;
}

.about__we {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 225px;
  margin-top: 30px;
}

.about__img p {
  position: absolute;
  color: white;
  font-weight: 800;
  width: 110px;
  top: 8%;
  left: 15%;
  font-size: 24px;
  letter-spacing: 0.008em;
  line-height: 1.261em;
}
/* about */

/******************************************* services */

.services {
  padding: 60px 0 115px 0;
}

.services__title::after {
  margin-left: 0;
}

.services__text {
  font-size: 11px;
}

.services__bottom {
  justify-self: end;
}

.services__info {
  grid-template-columns: 1fr 375px auto;
  grid-gap: 55px;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  margin-top: 80px;
}

.services__card {
  padding: 38px 20px 39px 23px;
  border: 1px solid #e6e6e6;
}

.services__card h3 {
  margin: 25px 0 13px;
}

/* services */

/******************************************* get-in-touch */

.get-in-touch {
  padding: 120px 0 230px 0;
  background: url("../img/bg-get-in-touch.jpg") 0 0 / 100% auto no-repeat;
}

.get-in-touch .grid {
  justify-items: center;
  grid-row-gap: 35px;
  width: 320px;
  text-align: center;
}

.get-in-touch__title {
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.005em;
}

/* get-in-touch */

/******************************************* newsletter */

.newsletter {
  background: rgba(23, 24, 25, 1);
  padding: 30px 0 30px 0;
}

.newsletter .flex {
  justify-content: space-around;
}

.newsletter__title {
  font-size: 22px;
  line-height: 1.362em;
  letter-spacing: 0.039em;
  color: white;
}

.newsletter__email {
  font-size: 14px;
  letter-spacing: 0.005em;
  line-height: 1.357em;
  padding: 11px 56px 10px 16px;
  border: none;
  margin-right: -5px;
}

.newsletter__bottom {
  font-size: 13px;
  letter-spacing: 0.038em;
  line-height: 1.385em;
  color: white;
  border: none;
  padding: 11px 49px;
}

/* newsletter */

/******************************************* footer */

/* footer */
